.appNav {
    grid-area: n;
    background-color: #7fe5ff;
    padding: 20px;
}

.item {
    margin-bottom: 10px;
}

.item a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 2px;
}

.item a.activeLink {
    background-color: aquamarine;
    border-radius: 5px;
}

.friends {
    height: 55px;
    display: flex;
    margin-top: 20px;
    font-size: 12px;
}

.friends .friend {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.friends .friend img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}