.dialogs {
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 20px;
}

.dialogs_items {

}

.dialogs_items_item {
    display: flex;
    align-items: center;
    padding: 2px;
}
.dialogs_items_item img{
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.dialogs_items_item a{
    padding: 2px;
    color: #7a7373;
    text-decoration: none;
    font-size: 20px;
}

.dialogs_items .active {
    background-color: #b9ce85;
    border-radius: 5px;
}

.dialogs_messages {
    background-color: #9696fd;
    padding-left: 20px;

}

.dialogs_messages_message {

}