.usersPage {
    padding: 20px;
}

.user {
    margin-bottom: 20px;
}

.userPhoto {
    width: 75px;
    height: 75px;
    border-radius: 100%;
}

button {
    border-radius: 5px;
}

button:hover {
    background-color: aquamarine;
}

.currentPage {

    font-weight: bold;
    background-color: #9696fd;
}